<header class="navbar animate-on-scroll" appAnimateOnScroll>
  <div class="container nav-container">
    <a routerLink="/home" class="logo">TOEIC Grader</a>
    <nav class="nav-menu">
      <a routerLink="/home">Accueil</a>
      <a routerLink="/studentlist">Students</a>
      <a routerLink="/groupelist">Groupes</a>
      <a routerLink="/evaluations">Évaluations</a>
      <a routerLink="/test">Tests</a>
      <!--score-->
      <a routerLink="/score">Consulter Score</a>
      
      <div class="dropdown">
        <a class="dropdown-trigger">Other</a>
        <div class="dropdown-content">
          <a routerLink="/promotionlist">Promotions</a>
          <a routerLink="/semestre">Semestres</a>
          <a routerLink="/site">Sites</a>
        </div>
      </div>
      
      <a routerLink="/login" class="btn nav-cta">
        <i class="fas fa-sign-in-alt"></i> LogOut
      </a>
    </nav>
  </div>
</header>