<header class="navbar animate-on-scroll" appAnimateOnScroll>
    <div class="container nav-container">
      <a routerLink="/" class="logo">TOEIC Grader</a>
      <nav class="nav-menu">
        <a routerLink="/">Accueil</a>
        <a routerLink="/test">Tests</a>
        <a routerLink="/classe">Classes</a>
        <a routerLink="/evaluations">Évaluations</a>
        <a routerLink="/login" class="btn nav-cta">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      </nav>
    </div>
  </header>